@import '../../styles/variables.scss';

#brand {
    display:flex;
}

#brand img {
  width: 150px;
  height: 150px;
}
.oneProduction {
    flex: 1;
    margin: 20px;
    margin-top: 10px;
}
.oneProduction button{
    float: right;
    margin-right: 8%;
    background-color: $second-blue;
}
